<!DOCTYPE html>
<html>
	<head>
		<script src="./assets/js/socket-io.js"></script>
		<script src="./assets/js/jsencrypt.js"></script>
		<script src="./assets/js/crypto-js.js"></script>
		<script src="./assets/js/md5.js"></script>
		<script src="./assets/js/main.js" class="js-file"></script>
		<meta http-equiv=”Cache-Control” content=”no-cache”/>
		<meta http-equiv=”Cache-Control” content=”no-store”/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<link rel="apple-touch-icon" sizes="57x57" href="./assets/img/favicon/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="./assets/img/favicon/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="./assets/img/favicon/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="./assets/img/favicon/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="./assets/img/favicon/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="./assets/img/favicon/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="./assets/img/favicon/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="./assets/img/favicon/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="./assets/img/favicon/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="./assets/img/favicon/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="./assets/img/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="./assets/img/favicon/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="./assets/img/favicon/favicon-16x16.png">
		<meta name="msapplication-TileColor" content="#141414">
		<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
		<meta name="theme-color" content="#141414">
		<link rel="stylesheet" href="./assets/css/light.css" class="theme-css" data-color="dark">
		<link rel="stylesheet" href="./assets/css/resize.css">
		<title>X:/Anonymous</title>
	</head>
	<body>
		<a href="https://www.github.com/Xtrendence/X-Anonymous/" target="_blank">
			<div class="icon-wrapper github">
				<svg class="github-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512"><path d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z"/>
					<defs>
						<linearGradient id="gradient-github">
							<stop offset="5%" stop-color="#33b7f6"/>
							<stop offset="20%" stop-color="#479df8"/>
							<stop offset="25%" stop-color="#6186f6"/>
							<stop offset="35%" stop-color="#8464f0"/>
							<stop offset="45%" stop-color="#ae57cb"/>
							<stop offset="60%" stop-color="#dc529b"/>
							<stop offset="65%" stop-color="#e35691"/>
							<stop offset="80%" stop-color="#f35c71"/>
							<stop offset="100%" stop-color="#fc5b57"/>
						</linearGradient>
					</defs>
				</svg>
			</div>
		</a>
		<div class="icon-wrapper settings">
			<svg class="settings-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M444.788 291.1l42.616 24.599c4.867 2.809 7.126 8.618 5.459 13.985-11.07 35.642-29.97 67.842-54.689 94.586a12.016 12.016 0 0 1-14.832 2.254l-42.584-24.595a191.577 191.577 0 0 1-60.759 35.13v49.182a12.01 12.01 0 0 1-9.377 11.718c-34.956 7.85-72.499 8.256-109.219.007-5.49-1.233-9.403-6.096-9.403-11.723v-49.184a191.555 191.555 0 0 1-60.759-35.13l-42.584 24.595a12.016 12.016 0 0 1-14.832-2.254c-24.718-26.744-43.619-58.944-54.689-94.586-1.667-5.366.592-11.175 5.459-13.985L67.212 291.1a193.48 193.48 0 0 1 0-70.199l-42.616-24.599c-4.867-2.809-7.126-8.618-5.459-13.985 11.07-35.642 29.97-67.842 54.689-94.586a12.016 12.016 0 0 1 14.832-2.254l42.584 24.595a191.577 191.577 0 0 1 60.759-35.13V25.759a12.01 12.01 0 0 1 9.377-11.718c34.956-7.85 72.499-8.256 109.219-.007 5.49 1.233 9.403 6.096 9.403 11.723v49.184a191.555 191.555 0 0 1 60.759 35.13l42.584-24.595a12.016 12.016 0 0 1 14.832 2.254c24.718 26.744 43.619 58.944 54.689 94.586 1.667 5.366-.592 11.175-5.459 13.985L444.788 220.9a193.485 193.485 0 0 1 0 70.2zM336 256c0-44.112-35.888-80-80-80s-80 35.888-80 80 35.888 80 80 80 80-35.888 80-80z"/>
				<defs>
					<linearGradient id="gradient-settings">
						<stop offset="5%" stop-color="#33b7f6"/>
						<stop offset="20%" stop-color="#479df8"/>
						<stop offset="25%" stop-color="#6186f6"/>
						<stop offset="35%" stop-color="#8464f0"/>
						<stop offset="45%" stop-color="#ae57cb"/>
						<stop offset="60%" stop-color="#dc529b"/>
						<stop offset="65%" stop-color="#e35691"/>
						<stop offset="80%" stop-color="#f35c71"/>
						<stop offset="100%" stop-color="#fc5b57"/>
					</linearGradient>
				</defs>
			</svg>
		</div>
		<div class="settings-wrapper noselect">
			<span class="settings-title">RSA Key Size</span>
			<span class="settings-description">The bigger the key size, the more secure (but slower) the chat app will be. Weaker systems may not even be able to use anything above 2048. 2048 is supposed to be secure until 2030. The smaller the key size, the shorter your messages can be.</span>
			<button class="settings-choice key-size 1024">1024</button>
			<button class="settings-choice key-size 2048">2048</button>
			<button class="settings-choice key-size 3072">3072</button>
			<button class="settings-choice key-size 4096 active">4096</button>
			<span class="settings-title">Theme</span>
			<button class="settings-choice theme light active">Light</button>
			<button class="settings-choice theme dark">Dark</button>
			<span class="settings-title">Local Storage</span>
			<span class="settings-description">Local storage can store up to 5MBs of data, and when this limit is reached, you'll be notified, at which point you'll have to clear it. Public keys, private keys, anonymous IDs, settings, and conversations are stored in local storage; clearing it would get rid of all of them. You won't be able to use any of your existing conversations.</span>
			<button class="settings-action clear-storage">Clear</button>
		</div>
		<div class="add-page noselect">
			<div class="add-button-border"></div>
			<button class="add-button">
				<svg class="add-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"/>
					<defs>
						<linearGradient id="gradient-add">
							<stop offset="5%" stop-color="#33b7f6"/>
							<stop offset="20%" stop-color="#479df8"/>
							<stop offset="25%" stop-color="#6186f6"/>
							<stop offset="35%" stop-color="#8464f0"/>
							<stop offset="45%" stop-color="#ae57cb"/>
							<stop offset="60%" stop-color="#dc529b"/>
							<stop offset="65%" stop-color="#e35691"/>
							<stop offset="80%" stop-color="#f35c71"/>
							<stop offset="100%" stop-color="#fc5b57"/>
						</linearGradient>
					</defs>
				</svg>
				Create Conversation
			</button>
		</div>
		<div class="chat-wrapper">
			<a href="./">
				<div class="icon-wrapper back">
					<svg class="back-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z"/>
						<defs>
							<linearGradient id="gradient-back">
								<stop offset="5%" stop-color="#33b7f6"/>
								<stop offset="20%" stop-color="#479df8"/>
								<stop offset="25%" stop-color="#6186f6"/>
								<stop offset="35%" stop-color="#8464f0"/>
								<stop offset="45%" stop-color="#ae57cb"/>
								<stop offset="60%" stop-color="#dc529b"/>
								<stop offset="65%" stop-color="#e35691"/>
								<stop offset="80%" stop-color="#f35c71"/>
								<stop offset="100%" stop-color="#fc5b57"/>
							</linearGradient>
						</defs>
					</svg>
				</div>
			</a>
			<div class="icon-wrapper share">
				<svg class="share-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M352 320c-22.608 0-43.387 7.819-59.79 20.895l-102.486-64.054a96.551 96.551 0 0 0 0-41.683l102.486-64.054C308.613 184.181 329.392 192 352 192c53.019 0 96-42.981 96-96S405.019 0 352 0s-96 42.981-96 96c0 7.158.79 14.13 2.276 20.841L155.79 180.895C139.387 167.819 118.608 160 96 160c-53.019 0-96 42.981-96 96s42.981 96 96 96c22.608 0 43.387-7.819 59.79-20.895l102.486 64.054A96.301 96.301 0 0 0 256 416c0 53.019 42.981 96 96 96s96-42.981 96-96-42.981-96-96-96z"/>
					<defs>
						<linearGradient id="gradient-share">
							<stop offset="5%" stop-color="#33b7f6"/>
							<stop offset="20%" stop-color="#479df8"/>
							<stop offset="25%" stop-color="#6186f6"/>
							<stop offset="35%" stop-color="#8464f0"/>
							<stop offset="45%" stop-color="#ae57cb"/>
							<stop offset="60%" stop-color="#dc529b"/>
							<stop offset="65%" stop-color="#e35691"/>
							<stop offset="80%" stop-color="#f35c71"/>
							<stop offset="100%" stop-color="#fc5b57"/>
						</linearGradient>
					</defs>
				</svg>
			</div>
			<div class="icon-wrapper keys">
				<svg class="keys-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M512 176.001C512 273.203 433.202 352 336 352c-11.22 0-22.19-1.062-32.827-3.069l-24.012 27.014A23.999 23.999 0 0 1 261.223 384H224v40c0 13.255-10.745 24-24 24h-40v40c0 13.255-10.745 24-24 24H24c-13.255 0-24-10.745-24-24v-78.059c0-6.365 2.529-12.47 7.029-16.971l161.802-161.802C163.108 213.814 160 195.271 160 176 160 78.798 238.797.001 335.999 0 433.488-.001 512 78.511 512 176.001zM336 128c0 26.51 21.49 48 48 48s48-21.49 48-48-21.49-48-48-48-48 21.49-48 48z"/>
					<defs>
						<linearGradient id="gradient-key">
							<stop offset="5%" stop-color="#33b7f6"/>
							<stop offset="20%" stop-color="#479df8"/>
							<stop offset="25%" stop-color="#6186f6"/>
							<stop offset="35%" stop-color="#8464f0"/>
							<stop offset="45%" stop-color="#ae57cb"/>
							<stop offset="60%" stop-color="#dc529b"/>
							<stop offset="65%" stop-color="#e35691"/>
							<stop offset="80%" stop-color="#f35c71"/>
							<stop offset="100%" stop-color="#fc5b57"/>
						</linearGradient>
					</defs>
				</svg>
			</div>
			<div class="share-wrapper">

			</div>
			<div class="keys-wrapper">
				<span class="keys-title">Conversation ID</span>
				<textarea class="conversation-id" readonly></textarea>
				<span class="keys-title">Anonymous ID</span>
				<textarea class="anonymous-id" readonly></textarea>
				<span class="keys-title">Public Key</span>
				<textarea class="public-key" readonly></textarea>
				<span class="keys-title">Private Key</span>
				<textarea class="private-key" readonly></textarea>
				<span class="keys-title">Their Public Key</span>
				<textarea class="recipient-public-key" readonly></textarea>
			</div>
			<div class="messages-list"></div>
			<span class="input-field-overlay noselect">Other user not connected.</span>
			<input class="input-field disabled" type="text" placeholder="Say something anonymously...">
			<button class="input-button disabled">
				<svg class="send-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M476 3.2L12.5 270.6c-18.1 10.4-15.8 35.6 2.2 43.2L121 358.4l287.3-253.2c5.5-4.9 13.3 2.6 8.6 8.3L176 407v80.5c0 23.6 28.5 32.9 42.5 15.8L282 426l124.6 52.2c14.2 6 30.4-2.9 33-18.2l72-432C515 7.8 493.3-6.8 476 3.2z"/>
					<defs>
						<linearGradient id="gradient-send">
							<stop offset="20%" stop-color="#33b7f6"/>
							<stop offset="40%" stop-color="#479df8"/>
							<stop offset="50%" stop-color="#6186f6"/>
							<stop offset="55%" stop-color="#8464f0"/>
							<stop offset="65%" stop-color="#ae57cb"/>
							<stop offset="75%" stop-color="#dc529b"/>
							<stop offset="80%" stop-color="#e35691"/>
							<stop offset="85%" stop-color="#f35c71"/>
							<stop offset="100%" stop-color="#fc5b57"/>
						</linearGradient>
					</defs>
				</svg>
			</button>
		</div>
	</body>
</html>